name: "ci"

on: pull_request

jobs:
  check-linting-and-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jetify-com/devbox-install-action@v0.14.0
      - run: devbox run lint
  hotel-install-script:
    strategy:
      matrix:
        # See: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        # for the mapping of architecture to the runner type.
        runs-on: [macos-14, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v6
      - name: run install script
        shell: bash
        run: |
          ./scripts/install_hotel.sh "${{ secrets.HOTEL_ACCESS_TOKEN }}"
      - name: verify hotel executable is available and working
        shell: bash
        run: hotel --version
  ensure-combined-cert-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - run: |
          nix run .#generate-netskope-combined-cert
          git diff --exit-code ./certs/
